<h3 style="text-align: center;">Your groups</h3>
<div class="messages"></div>
<br>
<form method="POST">
    <div class="row">
        <div class="col">
            <input type="text" name="name" class="form-control mb-2" placeholder="Name" required>
        </div>
        <div class="col">
            <input type="text" name="description" class="form-control mb-2" placeholder="Description"/>
        </div>
        <input type="submit" value="Add Group" class="btn btn-primary mb-2"/>
    </div>
</form>
<table class="table">
{{#each groups}}
    <tr class="groupItem" data-covida-group-id={{id}}>
        <td class="groupName"><b>{{name}}</b></td>
        <td><i>{{#if description}}{{description}}{{else}}No description available{{/if}}</i></td>
        <td><a href='{{groupDetails}}' class="btn btn-primary">See group details</a></td>
        <td><button class="btn btn-danger">Delete Group</button></td>
    </tr>
{{/each}}
{{#if isEmpty}}
    <hr>
    <h5 style="text-align: center;">You don't have any groups</h5>
{{/if}}
</table>