<h3 style="text-align: center;">
    <div id="groupName" style="display: inline-block;">
        {{{group.name}}}
    </div>
    <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#editGroupForm" aria-expanded="false" aria-controls="editGroupForm">
        <i class="fas fa-edit"></i>
    </button>
</h3>
<h5 style="text-align: center;" id="groupDescription">{{#if group.description}}{{{group.description}}}{{/if}}</h5>
<div class="collapse" id="editGroupForm">
    <br>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control mb-2" placeholder="{{{group.name}}}" autocomplete="off" id="editGroupName">
        </div>
        <div class="col">
            <input type="text" class="form-control mb-2" autocomplete="off" id="editGroupDescription" placeholder=
                "{{#if group.description}}{{{group.description}}}
                {{else}}New Description
                {{/if}}">
        </div>
        <div class="col-3">
            <button class="btn btn-primary btn-block mb-2">Submit</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <a class="btn btn-primary mb-2 btn-block" href="/covida/games/search">Add a game</a>
    </div>
</div>
<br>
<form method="GET" autocomplete="off">
    <div class="form-row">
        <div class="col-form-label">
            <label>Limit by rating</label>
        </div>
        <div class="col">
            <input type="number" class="form-control mb-2" name="min" value="{{min}}" placeholder="Minimum Rating" min="0" max="100"/>
        </div>
        <div class="col">
            <input type="number" class="form-control mb-2" name="max" value="{{max}}" placeholder="Maximum Rating" min="0" max="100"/>
        </div>
        <input type="submit" class="btn btn-primary mb-2" value="Submit"/>
    </div>
</form>
{{#unless isEmpty}}
<table class="table">
    <tr>
        <td >Name</td>
        <td colspan="3">Rating</td>
    </tr>
    {{#each group.games}}
        <tr class="gameItem" data-covida-game-id={{id}}>
            <td class="gameName"><b>{{name}}</b></td>
            <td>{{#if total_rating}}{{total_rating}}{{else}}N/A{{/if}}</td>
            <td><a href='{{gameDetails}}' class="btn btn-primary btn-block">See game details</a></td>
            <td><button class="btn btn-danger btn-block">Delete Game</button></td>
        </tr>
    {{/each}}
    </table>
{{/unless}}
<div class="emptyMessage">
    {{#if isEmpty}}
        <hr>
        <h5 style="text-align: center;">No games found</h5>
    {{/if}}
</div>