<div>
    <div>
        {{#if messages.error}}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{messages.error}}
            </div>
        {{/if}}
    </div>
    <h2 style="text-align: center;">Search Games</h2>
    <form method="GET" autocomplete="off">
        <div class="form-group">
            <label>Game Name</label>
            <input type="text" name="name" class="form-control" value="{{searchedGame}}" placeholder="Enter game name" required>     
        </div>
        <div class="form-group">
            <label>Maximum Amount of Games</label>
            <input class="form-control" type="number" name="limit" value="{{limit}}" placeholder="Max games" min="1" max="500" required/>
        </div>
        <input type="submit" value="Search" class="btn btn-primary mb-2"/>
    </form>
    <hr>
    {{#each games}}
        <h3>{{name}}</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <td>Summary</td>
                <td>Followers</td>
                <td>Rating</td>
            </tr>
            <tr>
                <td>{{#if summary}}{{summary}}{{else}}N/A{{/if}}</td>
                <td>{{#if follows}}{{follows}}{{else}}N/A{{/if}}</td>
                <td>{{#if total_rating}}{{total_rating}}{{else}}N/A{{/if}}</td>
            </tr>
        </table>
        <br>
    {{/each}}
    {{#if isEmpty}}
        <h5 style="text-align: center;">No results found</h5>
    {{/if}}
</div>